 .color-selector {
      position: relative;
    }
     .color-selector i{
      position: absolute;
      right: 0;
      color: #efefef;
      cursor: pointer;
    }
    .selector {
      width:320px;
      border: 1px solid lightgrey;
      padding: 5px;
      background-color: #efefef;
      position: absolute;
      bottom: -50px;
      right: 80px;
    }
    .color {
      height: 30px;
      width: 30px;
      border-radius: 100%;
      cursor: pointer;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .color:hover {
      border: 2px solid darkgrey;
    }
    .icon {
      font-size: 1.4rem;
      color: grey;
      cursor: pointer;
    }