<md-toolbar  color="primary" class="fixed" >
	 <button md-button routerLink="/"><img src="assets/img/logo_h.png" alt="Logo"></button>
   <span class="app-toolbar-filler"></span>
    <div class="flexsearch">
		<div class="flexsearch--wrapper">
			<form class="flexsearch--form" action="#" method="post">
				<button class="flexsearch--submit-left" [style.color]="focusChange()" md-button><i class="fa fa-search" aria-hidden="true"></i></button>
				<div class="flexsearch--input-wrapper">
					<input [(ngModel)]="searchThis" name="searchThis" (click)="showStyle = !showStyle" class="flexsearch--input" type="search" placeholder="search">
				</div>
				<span class="flexsearch--close" [style.color]="focusChange()" (click)="reset()"><i class="fa fa-times" aria-hidden="true"></i></span>
			</form>
		</div>
    </div>
    <span class="app-toolbar-filler"></span>
      <span class="link_1">
	   <span class="just-l link_1-a " > <a   routerLink="/add"  [class.position-fix]="isAuthorized"> List</a></span>
	   <span *ngIf="!isAuthorized">
	   <a  routerLink="/signup"> login</a>
	   </span>
	   <span *ngIf="isAuthorized" class="dropdown">
	     <a  routerLink="/user/{{ user.uid }}/{{user.auth.displayName | slugify}}" class="user-1"> <img src="{{ user.auth.photoURL }}" alt="{{ user.auth.displayName }}"></a>
		 <a   class="position-fix dropdown-toggle" id="dropdownMenuButton" 
		 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><!--<i class="fa fa-caret-down" 
		 aria-hidden="true"></i>-->
	</a>
		   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" routerLink="/user/{{ user.uid }}/{{user.auth.displayName | slugify}}"><em>Hi! <span>{{ user.auth.displayName }}</span></em></a>
				<a class="dropdown-item" routerLink="/user/{{ user.uid }}/{{user.auth.displayName | slugify}}"><i class="fa fa-user" aria-hidden="true"></i> My Profile</a>
				<a class="dropdown-item" routerLink="/list"><i class="fa fa-plus-square" aria-hidden="true"></i> List Now</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" routerLink="/listing"><i class="fa fa-list" aria-hidden="true"></i> My Listing</a>
				<div class="dropdown-divider"></div>
				 <a class="dropdown-item" routerLink="/edit/{{ user.uid }}/{{user.auth.displayName | slugify}}">
					<i class="fa fa-pencil" aria-hidden="true"></i> Edit profile
				</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" (click)="logout()" routerLink=""><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>
			</div>
	   </span>
  </span>
   <span class="app-toolbar-filler"></span>
   <button class="app-icon-button" [md-menu-trigger-for]="menu">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
	<md-menu #menu="mdMenu">
          <button md-menu-item>Hide</button>
          <button md-menu-item>Save Post</button>
          <button md-menu-item>Delete</button>
        </md-menu>
</md-toolbar>
