<div class="cover"><header class="cd-header" data-spy="affix">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col">
		<a href="/home" class="cd-logo"><img src="assets/img/logo.png" alt="Logo"></a>
	  </div>
	  <div class="col-md-6 col-sm-no">
	    <form class="form-wrapper">
		    <input type="text" id="search" placeholder="Search for..." required>
		    <input type="submit" value="Search" id="submit">
		</form>
	  </div>
	  <div class="col-md-3 col">
	    <a id="sm-search" class="af-search-sm">
           <i class="fa fa-search" aria-hidden="true"></i>
			</a>
		<a  class="cd-3d-nav-trigger">
			Menu
			<span></span>
		</a>
	  </div>
	</div>
	</div>

	</header> <!-- .cd-header -->
	 <div class="animated fadeInDown search-sm search-sm-y">
	    <form class="form-wrapper">
		    <input type="text" id="search" placeholder="Search for..." required>
		    <button type="submit" value="Search" id="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
		</form>
	    </div>
<div id="top-shadow" class="animated fadeInDown">
<div class="container-fluid">
<a href="/home" class="cd-logo"><img src="assets/img/logo.png" alt="Logo">
    </a>
		<a  class="cd-3d-nav-trigger">
			Menu
			<span></span>
		</a> 
 </div>
</div>
	
	<nav class="cd-3d-nav-container">
		<ul class="cd-3d-nav">
			<li class="cd-selected">
				<a href="#0"></a>
			</li>

			<li>
				<a href="#0">Projects</a>
			</li>

			<li>
				<a href="#0">Images</a>
			</li>

			<li>
				<a href="#0">Settings</a>
			</li>

			<li>
				<a routerLink="/signup">New</a>
			</li>
		</ul> <!-- .cd-3d-nav -->

		<span class="cd-marker color-1"></span>	
	</nav> <!-- .cd-3d-nav-container -->
</div>