<section class="section-1">

  <aside class="s-menu">
    <app-asidecard></app-asidecard>
  </aside>
  <section class="section-01">
  <div class="row gutter-10">
   <div class="col-md-4  no-sm-no">
      <app-promocard></app-promocard>
          <app-adslist></app-adslist>
   </div>
     <div class="col-md-8">
      <app-statuscard (createStatus)="onCreateStatus($event)"></app-statuscard>
       <app-homecard
        *ngFor="let status of statuses"
        [status]="status"
        (checked)="onStatusChecked($event)"
           >
        
       </app-homecard>
    </div>   
 </div>
  </section>
  <section class="section-02 no-sm-no">
   <div class="side-1">
     <div class="row gutter-10">
        <div class="col-md-12">
          <app-authcard></app-authcard>
        </div>
    </div>
  </div>

  </section>
  <div class="clearfix"></div>
</section>

