<div *ngIf="!statusesOk" class="wait loader">
        <!--*ngIf="!statusesOk"<md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>-->
         <div class="brick-1"  *ngFor="let item of createRange(15)">
          <div class="timeline-wrapper">
            <div class="timeline-item">
              <div class="animated-background">
                  <div class="background-masker image"></div>
                  <div class="background-masker header-bottom"></div>
                  <div class="background-masker paragraph1-bottom"></div>
                  <div class="background-masker paragraph2-bottom"></div>
                  <div class="background-masker paragraph3-bottom"></div>
                  <div class="background-masker paragraph4-bottom"></div>
                  <div class="background-masker paragraph5-bottom"></div>
                  <div class="background-masker paragraph6-bottom"></div>
              </div>
            </div>
          </div>
        </div>
 </div>
<section *ngIf="statusesOk" class="section-1">


  <aside class="s-menu">
    <app-asidecard></app-asidecard>
  </aside>
  <section class="section-01">
  <div class="row gutter-10">
   <div class="col-md-4  no-sm-no">
      <app-promocard></app-promocard>
          <app-adslist></app-adslist>
   </div>
     <div class="col-md-8">
       <!--(createStatus)="onCreateStatus($event)"-->
      <app-updatecard></app-updatecard>
      
       <app-homecard
        *ngFor="let status of statuses"
        [status]="status"
        (checked)="onStatusChecked($event)"
        >
       </app-homecard>
    </div>   
 </div>
  </section>
  <section class="section-02 no-sm-no">
   <div class="side-1">
     <div class="row gutter-10">
        <div class="col-md-12">
          <app-authcard></app-authcard>
        </div>
    </div>
  </div>

  </section>
  <div class="clearfix"></div>
</section>

