<div class="main-content container-fluid">
    <div class="start-01">
    <md-card>
        <button md-mini-fab class="close-01" (click)="close()">X</button>
        <h1>We are happy you about to start an action!</h1>
       <h1>Get the following ready:</h1>
       <ol>
           <li>Atleast One Photo, this will be used as your page cover photo. Dimension should be atleast 700px X 450px</li>
           <li> Good page title</li>
           <li> Page Description Atleast 200 characters</li>
           <li>And of course your page content!</li>
       </ol> 
       <div class="count-down">
           Start in <span id="countdown"></span>
       </div>
       <md-progress-bar mode="indeterminate" color="primary" class="color-primary"></md-progress-bar>
    </md-card>
    </div>
</div>
