@media screen and (min-width: 1400px){
    .main {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    .l-side {
        margin-top: 10px;
    }
}

 .comments md-card-header, .comments md-card-header .md-card-header-text {
    height: auto !important;
  }

   textarea {
         height: 100px !important;
         overflow: hidden;
  }
.pull-right-set {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor:pointer;
}
.pull-right-set [md-button], .pull-right [md-button], .pull-left [md-button]{
      min-width: 40px !important;
      border-radius: 100% !important;
      cursor:pointer;
      color: rgba(0, 0, 0, 0.54) !important;
}