@media screen and (min-width: 1400px){
    .main {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    .l-side {
        margin-top: 10px;
    }
}

 .comments md-card-header, .comments md-card-header .md-card-header-text {
    height: auto !important;
  }

   textarea {
         height: 100px !important;
         overflow: hidden;
  }