<div class="users-box mar-10">
<figure class="snip1336 shadow-1">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
  <figcaption>
    <img src="{{user.avatar}}" alt="profile-sample4" class="profile" />
    <h2>{{user.name}}<span>{{user.job}}</span></h2>
    <p>{{user.bio}}</p>
    <a routerLink="/user/{{ user.uid }}/{{user.name | slugify}}" class="follow">Follow</a>
    <a routerLink="/user/{{ user.uid }}/{{user.name | slugify}}" class="info">More Info</a>
  </figcaption>
</figure>
</div>