/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body, html, main, .main, .app, app {
 
  background-color: #eee;
}

body {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
a {
  color: #1A237E;
}
input {
  border: none;
 
}
.primary-color{
  color: #485274;
}
.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.note-creator {
 padding: 20px;
 background-color: white;
 border-radius: 3px;
}

.af-card {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 24px;
    background: #fff;
}
.row.gutter-0 {
  margin-left: 0;
  margin-right: 0;
}

.mar-10 {
	margin: 10px 0;
}
.text-center {
  text-align: center;
}

/* Color picker */
.color-primary {
  color: rgb(19, 25, 90) !important;
}
.color-red {
  color: red;
}

.color-pink {
  color: #c96aa4;
}

.color-3 {
  color: #d6915e;
  background-color: #d6915e;
}

.color-skyblue {
  color: #5397c7;
}

.color-green {
  color: #77cd91;
}
.row.gutter-0 {
  margin-left: 0;
  margin-right: 0;
}
.row.gutter-0 [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.row.gutter-10 {
  margin-left: -3px;
  margin-right: -3px;
}
.row.gutter-10 [class*="col-"] {
  padding-left: 3px;
  padding-right: 3px;
}
.row.gutter-20 {
  margin-left: -10px;
  margin-right: -10px;
}
.row.gutter-20 [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}
.clearfix {
  clear: both;
}

@media screen and (max-width: 768px){
 .no-sm-no {
  display: none !important;
 }

  .no-sm em{
    display: none !important;
  }
  .no-sm i{
    font-size: 2em;
  }
  .row.gutter-10 [class*="col-"] {
  padding-left: 0px;
  padding-right: 0px;
}
}
@media screen and (min-width: 769px){
  .no-big {
    display: none !important;
  }
}
.main-content {
  position: relative;
  top: 62px;
}
 .md-dialog-container {
    padding: 0px !important;
    background: rgb(19, 25, 90) !important;
  }
.comments md-card-header .md-card-header-text {
    height: auto !important;
    clear: both !important;
  }
  .main {
    position: relative;
    top: 60px;
  }