<div class="af-share shadow-2" [ngStyle]="{'background-color': newCol.color}">
     <app-colorpicker
              (selected)="onColorSelect($event)"
              [colors]="colors"
            >
     </app-colorpicker>
    <form>
    <input 
    class="input"
    (focus)="toggle(true)" 
    placeholder="Start Sharing! Enter File Title!"
    >
    <div 
    *ngIf="fullForm" 
    class="input-icons row gutter-0" 
    (mouseenter)="toggle(true)">
       <div class="col-md-6">
        <div class="upload-file" [ngStyle]="{'background-color': newCol.color}">
            <md-icon>home</md-icon>uploadS
        </div>
       </div>
       <div class="col-md-6">
         <button  class="upload-btn" md-button color="primary">upload your file</button>
       </div>
    </div> 
    </form>
   </div>